<div class="span1">
    <ul class="nav nav-pills nav-stacked"><li class="active"><a href="#">{{vlist.v.vtitle}}</a></li></ul>
    <div class="well">{{vlist.v.vdescr}}</div>
    <div class="well">
        <form action="#" method="post">{% csrf_token %}
            {% for vc in vlist.vcolumn %}
                <h3>{{forloop.counter}}.{{vc.vctitle}}</h3>
                {% if not is_multi %}
                    {% for vch in vc.vcchoices %}
                        <input type="radio" name="{{vc.vcid}}" value="{{vch.vchid}}" />{{vch.vchtitle}}</input><br /><br />
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <input type="submit" value="投票">
        </form>
    </div>
</div>