<!doctype html>
<html>
<head><meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>
<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/bootstrap.js"></script>
{% block link %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="row banner"><div class="span12" id="banner">
        <embed src="{{STATIC_URL}}img/banner1.swf" pluginspage="http://www.neupioneer.com/go/getflashplayer" type="application/x-shockwave-flash" name="obj1" width="940" height="150"></embed>
    </div>
    <div class="span12">
        {% include "include/menu-list.html" %}
    </div>
    <div class="row">
        {% block content %}{% endblock %}
    </div>
    <div class="row"><div class="span12">
    {% block user_status %}
        <div class="top_status">
            {% if user.is_authenticated %}
                <p>欢迎 <a href="/member/profile/{{user.username}}/">{{ user.username }}</a>，感谢登录，<a href="/member/logout/?next={{path}}">登出</a></p>
            {% else %}
                <p>请<a href="/member/login/?next={{path}}">登录</a></p>
            {% endif %}
        </div>
    {% endblock %}
    </div></div>
    {% block footer %}
    <div id="footer">
        <hr />
        <p class="copyleft">www.neupioneer.com  &copy; 2012  frellica>w<</p>
    </div>
    {% endblock %}
</div>
</body>
</html>