{% extends "base.html" %}
{% block title %}
    {{page_title}}
{% endblock %}
{% comment %}{% endcomment %}
{% block link %}
<script type="text/javascript" charset="utf-8" src="/media/editor/ueditor/editor_config.js"></script>
<script type="text/javascript" charset="utf-8" src="/media/editor/ueditor/editor_all.js"></script>
<link rel="stylesheet" type="text/css" href="/media/editor/ueditor/themes/default/ueditor.css"/>
{% endblock %}

{% block content %}
    <h1>编辑文章</h1>
    <div class="edit_error_prompt">
        {% if form.errors %}<p>输入有误，请更正</p>{% endif %}
        {% if result_aid %}<p>提交成功，{% if not result_aid %}等待审核，{% endif %}<a href="/article/{{result_aid}}">点击查看</a></p>{% endif %}
    </div>
    {% if aid %}<form action="/article/{{aid}}/edit/" method="post">
    {% else %}<form action="/article/new/" method="post">
    {% endif %}{% csrf_token %}
        <ul>
            {{ form.as_ul }}
        </ul>
        <input type="submit" value="提交文章">
    </form>
{% endblock %}