{% extends "base.html" %}
{% block title %}
    {{page_title}}
{% endblock %}

{% block link %}
<link href="{{STATIC_URL}}css/slideshow.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/slideshow.js"></script>
{% endblock %}

{% block content %}
    <div class="span4">左侧留空</div>
    <div class="span8">
        <div class="row">先锋新闻</div>
        <div class="row">
            <div class="span4">{% include "include/slideshow.html" %}</div>
            <div class="span4">先锋新闻</div>
        </div>
    
    <div class="ad_right"><a href="{{ad.0.link}}"><img src="{{MEDIA_URL}}{{ad.0.img}}" alt="{{ad.0.title}}" /></a></div>
    <div class="ad_right"><a href="{{ad.1.link}}"><img src="{{MEDIA_URL}}{{ad.1.img}}" alt="{{ad.1.title}}" /></a></div>
    <div class="ad_right"><a href="{{ad.2.link}}"><img src="{{MEDIA_URL}}{{ad.2.img}}" alt="{{ad.2.title}}" /></a></div>
    <div class="ad_right"><a href="{{ad.3.link}}"><img src="{{MEDIA_URL}}{{ad.3.img}}" alt="{{ad.3.title}}" /></a></div>
    </div>
{% endblock %}