{% extends "base.html" %}
{% block title %}
    {{page_title}}
{% endblock %}

{% block content %}
    <div id="member_profile">
        <h1>用户资料页</h1><a href="/article/new/">发表新文章</a>
        <ul class="profile_list">
        {% for value in profile_dict.values %}<li>{{value}}</li>{% endfor %}
        </ul>
        <a class="logout_button" href="/member/logout">登出</a>
    </div>
    <div class="article_list">
        <h2>文章列表</h2>
        {% include "include/article-list.html" %}
    </div>
{% endblock %}