{% extends "base.html" %}
{% block title %}
    {{page_title}}
{% endblock %}
{% block link %}
{% endblock %}
{% block content %}
    {% include "include/menu-list.html" %}
    {% if status.no_perm %}<div class="edit_error_prompt">您木有权限处置此文章</div>{% endif %}
    {% if status.has_edited %}<div class="edit_error_prompt">编辑成功</div>{% endif %}
    {% if status.verify_failed %}<div class="edit_error_prompt">审核失败，选项有误，请更正后提交</div>{% endif %}
    {% if status.be_verified %}<div class="edit_error_prompt">审核成功</div>{% endif %}
    {% if article.is_deleted %}
        <div class="edit_error_prompt">本文章已被删除，<a href="/article/{{article.aid}}/resume/">点击恢复</a></div>
    {% endif %}
    {% if status.to_verify %}
        <form action="/article/{{article.aid}}/verify/" method="post">{% csrf_token %}
            {{verify_form.as_p}}
            <input type="submit" value="提交">
        </form>
    {% endif %}
    <div id="article_type">{{type.typename}}</div>
    <div id="article_title"><h1>{{article.title}}</h1></div>
    <div id="article_status">
        <span id="article_author">作者：{{article.authorname}}</span>
        <span id="sendtime">发表时间：{{article.senddate|date:"Y年m月d日 H:i:s"}}</span></div>
    <div id="article_content">{{addon_article.content|safe}}</div>
{% endblock %}