{% extends "base.html" %}
{% block title %}
    {{page_title}}
{% endblock %}
{% load extra_tags %}
{% block content %}
    <div class="span1 be_close">
        <ul class="nav nav-pills nav-stacked"><li class="active"><a href="{{url_pre}}/type/{{type_dict.2.t.typeid}}">{{type_dict.2.t.typename}}</a></li></ul>
        <div class="span1"><ul class="nav nav-tabs nav-stacked">
              {% for a in type_dict.2.a_list%}
              <li><a href="{{url_pre}}/article/{{a.aid}}">{% if a.is_headline %}<b>{{a.title|short:"19"}}</b>{% else %}{{a.title|short:"19"}}{% endif %}</a></li>
              {% endfor %}
        </ul></div>
        <div class="span1">
            {% include "include/cal.html" %}
        </div>
        <div class="span1">
            {% include "include/hot.html" %}
        </div>
        {% include "include/vote.html" %}
    </div>
    <div class="span2">
        <div class="row">
            <ul class="nav nav-pills nav-stacked"><li class="active"><a href="{{url_pre}}/type/{{type_dict.1.t.typeid}}">{{type_dict.1.t.typename}}</a></li></ul>
        </div>
        <div class="row">
            <div class="span1">{% include "include/slideshow.html" %}</div>
            <div class="span1"><ul class="nav nav-tabs nav-stacked">
              {% for a in type_dict.1.a_list %}
              <li><a href="{{url_pre}}/article/{{a.aid}}">{{a.senddate|date:"m-d"}}-{% if a.is_headline %}<b>{{a.title|short:"19"}}</b>{% else %}{{a.title|short:"19"}}{% endif %}</a></li>
              {% endfor %}
            </ul></div>
        </div>
        <div class="span2">
            <a class="thumbnail" href="{{ad.0.link}}"><img src="{{MEDIA_URL}}{{ad.0.img}}" alt="{{ad.0.title}}" /></a>
            <a class="thumbnail" href="{{ad.1.link}}"><img src="{{MEDIA_URL}}{{ad.1.img}}" alt="{{ad.1.title}}" /></a>
        </div>
        <div class="row">
            <div class="span1">
                <div class="row">
                    <ul class="nav nav-pills nav-stacked"><li class="active"><a href="{{url_pre}}/type/{{type_dict.5.t.typeid}}">{{type_dict.5.t.typename}}</a></li></ul>
                </div>
                <div class="row"><ul class="nav nav-tabs nav-stacked">
                    {% for a in type_dict.5.a_list %}
                        <li><a href="{{url_pre}}/article/{{a.aid}}">{{a.senddate|date:"m-d"}}-{% if a.is_headline %}<b>{{a.title|short:"19"}}</b>{% else %}{{a.title|short:"19"}}{% endif %}</a></li>
                    {% endfor %}
                </ul></div>
            </div>
            <div class="span1">
                <div class="row">
                    <ul class="nav nav-pills nav-stacked"><li class="active"><a href="{{url_pre}}/type/{{type_dict.3.t.typeid}}">{{type_dict.3.t.typename}}</a></li></ul>
                </div>
                <div class="row"><ul class="nav nav-tabs nav-stacked">
                    {% for a in type_dict.3.a_list %}
                        <li><a href="{{url_pre}}/article/{{a.aid}}">{{a.senddate|date:"m-d"}}-{% if a.is_headline %}<b>{{a.title|short:"19"}}</b>{% else %}{{a.title|short:"19"}}{% endif %}</a></li>
                    {% endfor %}
                </ul></div>
            </div>
        </div>
        <div class="row">
            <div class="span1">
                <div class="row">
                    <ul class="nav nav-pills nav-stacked"><li class="active"><a href="{{url_pre}}/type/{{type_dict.6.t.typeid}}">{{type_dict.6.t.typename}}</a></li></ul>
                </div>
                <div class="row"><ul class="nav nav-tabs nav-stacked">
                    {% for a in type_dict.6.a_list %}
                        <li><a href="{{url_pre}}/article/{{a.aid}}">{{a.senddate|date:"m-d"}}-{% if a.is_headline %}<b>{{a.title|short:"19"}}</b>{% else %}{{a.title|short:"19"}}{% endif %}</a></li>
                    {% endfor %}
                </ul></div>
            </div>
            <div class="span1">
                <div class="row">
                    <ul class="nav nav-pills nav-stacked"><li class="active"><a href="{{url_pre}}/type/{{type_dict.7.t.typeid}}">{{type_dict.7.t.typename}}</a></li></ul>
                </div>
                <div class="row"><ul class="nav nav-tabs nav-stacked">
                    {% for a in type_dict.7.a_list %}
                        <li><a href="{{url_pre}}/article/{{a.aid}}">{{a.senddate|date:"m-d"}}-{% if a.is_headline %}<b>{{a.title|short:"19"}}</b>{% else %}{{a.title|short:"19"}}{% endif %}</a></li>
                    {% endfor %}
                </ul></div>
            </div>
        </div>
    <a class="thumbnail" href="{{ad.2.link}}"><img src="{{MEDIA_URL}}{{ad.2.img}}" alt="{{ad.2.title}}" /></a>
    <a class="thumbnail" href="{{ad.3.link}}"><img src="{{MEDIA_URL}}{{ad.3.img}}" alt="{{ad.3.title}}" /></a>
    </div>
{% endblock %}