{% extends "base.html" %}
{% block title %}
    {{page_title}}
{% endblock %}

{% block content %}
    <div id="member_profile">
        <h1>用户资料页</h1><a href="{{url_pre}}/article/new/">发表新文章</a>
        <ul class="profile_list">
        {% for value in profile_dict.values %}<li>{{value}}</li>{% endfor %}
        </ul>
        <a class="logout_button" href="{{url_pre}}/member/logout">登出</a>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a>文章列表</a></li>
        {% if verify_auth %}<li><a href="{{url_pre}}/article/verify-list">待审核列表</a></li>{% endif %}
        {% if resume_auth %}<li><a href="{{url_pre}}/article/rabbish">文章回收站</a></li>{% endif %}
    </ul>
    {% include "include/manage-article-list.html" %}
{% endblock %}